---
const name = 'Nestor Daniel Basave Davalos';
const title = 'Home Page';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>{name}</h1>

		<p>Momento actual: {new Date().toLocaleTimeString()}</p>
		<p id="current-time"></p>Momento actual real: {new Date().toLocaleTimeString()}</p>

		<footer>
			
		</footer>

		<script>
			const footer = document.querySelector('footer') as HTMLElement;
			const currentTimeParagraph = document.getElementById('current-time') as HTMLParagraphElement;
			
			const currentYear: number = new Date().getFullYear();
			
			footer.innerText = `Año: ${currentYear} ©`;
			currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;


		</script>

	</body>
</html>
